body {
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
  }

  h1 {
    text-align: center;
    color: #333;
    font-size: 2cm;
 }

 h2 {
   margin-top: 3em;
    text-align: center;
    color: #333;
 }

.kielet {
  text-align: center;
}

 .kieliboxi{
    margin-top: 3em;
     padding: 2px 4px;
     background: #eee;
     max-width: 25em;
     position: relative;
     align: left;
 }

 #kielitaito_otsikko {
   margin-top: 1em;
 }